header{
  outline:black;
  outline-style:groove;
  outline-width: 11px;
  width: 1498px;
  position: fixed;
  margin-left:10px;
  background-color: white;
  z-index: 999;
  
}

header img {
  padding: 50;
  position: relative;
  left: 80px;
} 
.foodieLogo   {
  position: relative;
  left: 590px;
  width: 100px;
  height: 70px;
  
  
}

.cart{
  position: relative;
  left: 1150px;
  top:10px;
  width: 60px;
  height: 60px;
}

 
#slides {
display: none
}

#slides .slidesjs-navigation {
margin-top:3px;
}

#slides .slidesjs-previous {
margin-right: 5px;
float: left;
}

#slides .slidesjs-next {
margin-right: 5px;
float: left;
}

.slidesjs-pagination {
margin: 6px 0 0;
float: right;
list-style: none;
}

.slidesjs-pagination li {
float: left;
 margin: 0 1px; 
}

.slidesjs-pagination li a {
display: block;
width: 13px;
height: 0;
padding-top: 13px;
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/139719/pagination.png");
background-position: 0 0;
float: left;
overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
color: #333
}

#slides a:hover,
#slides a:active {
color: #9e2020
}

.navbar {
overflow: hidden
} 

.ALL p{
  font-size: 30px;
  padding: 20px;
}
.ALL img {

 
  width: 200 px;
  
   
  height: 200px;
  
   
  border-radius: 100px;
  
   
  padding: 10px;
  
   
  }
  
  
  #image-container {
  
   
  padding-left: 200px;
  
   
  border: 2px solid rgb(126, 122, 122);
  
   
  width: 800px;
  
   
  margin: 0 auto;
  
   
  height: 175px;
  
   
  }
  
    
    .ALL img{
  
   
  width: 200px;
  
   
  margin: 7px;
  
   
  border-radius: 10px;
  
   
  padding: 10px;
  
   
  border: 10px solid rgb(248, 248, 248);
  
   
  }
  

