header img {
    padding: 50;
    position: relative;
    left: 80px;
} 
.foodieLogo   {
    position: relative;
    left: 590px;
    width: 100px;
    height: 70px;
    
    
}
 
.cart{
    position: relative;
    left: 1150px;
    top:10px;
    width: 60px;
    height: 60px;
}
 

.sliderBurger{
  background: url(/img/burger\ Main\ Logo.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1520px;
  height: 780px;
  
}
.sliderShawerma{
  
    background: url(/img/shawerma\ Main\ Logo.png) no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1520px;
    height: 780px;
    
  
}
.sliderPizza{
  background: url(/img/pizza\ Main\ Logo.jpg) no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1520px;
    height: 780px;
    
}
.sliderIndian{
  background: url(/img/butter\ chicken\ Main\ Logo.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1520px;
  height: 780px;
}

 main {

  padding-top: 50px;
  padding-bottom:50px;

}

body{
  
 background-color:#FAF3F3;
 
}

header{
  outline:black;
  outline-style:groove;
  outline-width: 11px;
  width: 1498px;
  position: fixed;
  margin-left:10px;
  background-color: white;
  z-index: 999;
  
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.column{
  position: relative;
  right: 200px;
  
}
.column img {
    float: left;
    width: 250px;
    height: 200px;
    position: relative;
    left: 400px;
    top: 100px;
    padding: 5px;
    margin: 40px; 
    outline:black;
    outline-width: 5px;
    outline-style: groove;
    background-color: white ;
    

   }
/*    
   .fade1{
    width: 266px;
    height: 220px;
    background:rgb(126, 0, 0);
    position: relative;
    bottom: 530px;
    left:234px;
    opacity: 0;
    transition: opacity 0.5s ease;
   }
   .fade1:hover{
    opacity: 0.5;
    
   }
   .fade2{
    width: 266px;
    height: 220px;
    background:rgb(126, 0, 0);
    position: relative;
    bottom: 521px;
    left: 579px;
    opacity: 0;
    transition: opacity 0.5s ease;
   }
   .fade2:hover{
    opacity: 0.5;
    
   }

   .fade3{
    width: 266px;
    height: 220px;
    background:rgb(126, 0, 0);
    position: relative;
    bottom: 528px;
    left: 919px;
    opacity: 0;
    transition: opacity 0.5s ease;

   }

   .fade3:hover{
    opacity: 0.5;
    
   } */


  .column p{
    position: relative;
    left: 70px;
    top:400px;
    /* background-color:#A7BBC7; */
    display:table;
    /* border-radius: 12px */
  }

  .add-to-cart{
     display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
    top: 400px;
    left:100px;
    
   } 

   .add-to-cart span{
     cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }

   .add-to-cart span ::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
   }
   .add-to-cart:hover span{
    padding-right: 25px;
   }

   .add-to-cart:hover span:after {
    opacity: 1;
    right: 0;
  }
   
  
.shop-item-price{
  display: table;
}


.shop-item-title{
  display: table;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 20px;
  margin-right: 20px;
  padding-right: 10px;
  padding-left: 30px;

}


  main div p  {
    padding-left: 30px;
    padding-bottom: 10px;
    color: black;
  }
 


