header img {
    padding: 50;
    position: relative;
    left: 80px;
} 
header img:nth-child(4) {
    position: relative;
    left: 500px;
    width: 110px;
    height: 90px;
    
}
 
header img:nth-child(5){
    position: relative;
    left: 1000px;
    width: 60px;
    height: 60px;
}
 
header img:nth-child(6){
  
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    outline-color: black;
    outline-style: groove;
    outline-width: 3px;

}
body{
  
  margin: 50px;
}


.column{
  position: relative;
  right: 200px;
}
.column img{
    float: left;
    width: 250px;
    height: 200px;
    position: relative;
    left: 400px;
    top: 100px;
    padding: 5px;
    /* padding-left: 200px;*/
    margin: 40px; 
    outline:black;
    outline-width: 5px;
    outline-style: groove;
  }

  .column p{
    position: relative;
    left: 100px;
    top:380px

  }

  .column button{
    position: relative;
    left: 50px;
    top:400px;
    border-style: groove;
    background-color: coral;

  }


  .row::after {
    content: "";
    clear: both;
    display: table;
    padding: 50px;
    margin: 50px;
  
  }
  main div p  {
    padding-left: 30px;
    color: black;
  }
  main div button{
    margin-left: 130px;
  }



