header img {
    padding: 50;
    position: relative;
    left: 80px;
} 
.foodieLogo   {
    position: relative;
    left: 500px;
    width: 100px;
    height: 70px;
    
    
}
 
header img:nth-child(5){
    position: relative;
    left: 1000px;
    width: 60px;
    height: 60px;
}
 
/* .logoForRestaurant {
  
    width: 1080px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    outline-color: black;
    outline-style:groove;
    outline-width: 3px; 

} */
.slider{
  background: url(/img/burger\ Main\ Logo.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1520px;
  height: 700px;
}
 

 main {

  padding-top: 50px;
  padding-bottom:50px;

}

body{
  /* margin: 50px; */
  
 background-color:#FAF3F3;
 
}

header{
  outline:black;
  outline-style:double;
  outline-width: 11px;
  width: 1480px;
  /* height: 200px; */
  position: fixed;
  margin-left: 20px;
  background-color: white;
  
  
}

.column{
  position: relative;
  right: 200px;
}
.column img{
    float: left;
    width: 250px;
    height: 200px;
    position: relative;
    left: 400px;
    top: 100px;
    padding: 5px;
    margin: 40px; 
    outline:black;
    outline-width: 5px;
    outline-style: groove;
  }

  .column p{
    position: relative;
    left: 100px;
    top:380px;
    background-color:#A7BBC7;
    display:table;
    border-radius: 12px
  }

  .column button{
     position: relative;
     right: 30px;  
     background-color:#DA7F8F;
     border-radius: 50%;
     font-size: 16px;
   }
.shop-item-price{
display: table;
}
.shop-item-title{
  display: table;
}

  .row::after {
    content: "";
    clear: both;
    display: table;
    padding: 50px;
    margin: 50px;
  
  }
  main div p  {
    padding-left: 30px;
    color: black;
  }
  main div button{
    margin-left: 130px;
  }



